*{
  margin:0;
  padding:0;
}


.login-body{
  background-color: mintcream;
}

.login-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
}

label, input{
  display:block;
  font-size:20px;
  

}

#login-btn{
  margin-top: 10px;
  width: 100%;
  border:none;
  background-color: grey;
  color:white;
  height:20px;
  font-size: 20px;
  height:30px;
}

#login-btn:hover{
  background-color: darkgray;
}

form{
  padding:50px 10px 50px 10px;
  border: 2px solid black;
  border-radius:10px;
}